/**************/
/* Custom CSS */
/**************/

body {
	background: #f2f2f2;/*#39547c*/;
	color: #404d5f;/*#fff*/
	font-family: 'Muli', sans-serif;
}

input{
  padding: 15px;
  padding-left: 25px;
  width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 30px;
  color: #404d5f;/*#fff;*/
}

.centered{
	text-align: center;
}

#card-holder{
  width: 90%;
	margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
	margin-bottom: 30px;
}

.card {
	padding-top: 25px;
  background: #fefefe no-repeat center;
  background-size: cover;
/*  border-left: 1px solid #f5f5f5;
  border-top: 1px solid #f4f4f4;
  border-right: 1px solid #fafafb;
  border-bottom: 1px solid #e8e8e8;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.05);
  box-shadow: 0 2px 3px rgba(0,0,0,.05);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 300px;
  cursor: pointer;
}

.overlay {
  position: relative;
}

.overlay:hover:after  {
  opacity: 0;
}

.white:after {
  background-color: white;
}

.overlay:after {
  position: absolute;
  border-radius: 2px;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.card-text {
  background: rgba(255, 255, 255, .85);
  color: #000;
}

.card h3{
	/*color: #404d5f;*/
}

.card h4 {
  /*color: #979ea9;*/
  margin: 0;
  margin-top: 10px;
}

.card p {
  /*color: #979ea9;*/
  color: #404d5f;
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  width: 60%;
  max-width: 150px;
  min-width: 125px;	
}

.modal-title {
  text-align: center;
  font-size: 30px;
}

#mainImage {
  text-align: center;
}

#mainImage img {
  width: 60%;
  max-width: 400px;
  min-width: 125px; 
}

#author {
  text-align: center;
  font-size: 20px;
}

#keywords {
  margin: 20px;
}

#pitch {
  margin: 20px;
}

#description {
  margin: 20px;
}

/***************************/
/* Default Form Input Code */
/***************************/

::-webkit-input-placeholder {
   color: #404d5f;/*#fff;*/
}

:-moz-placeholder { /* Firefox 18- */
   color: #404d5f;/*#fff;*/ 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #404d5f;/*#fff;*/  
}

:-ms-input-placeholder {  
   color: #404d5f;/*#fff;*/  
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}