/**************/
/* Custom CSS */
/**************/

body {
	background: #f4f4f4;
	color: #404d5f;/*#fff*/
	font-family: 'Muli', sans-serif;
  /*min-height: 100%;*/
}

input{
  margin-bottom: 1%;
  padding: 15px;
  padding-left: 0px;
  width: 97%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  color: #404d5f;/*#fff;*/
  border-bottom: 5px solid rgb(231, 231, 235);
  font-size: 25px;
  font-weight: 900;
}

a, a:visited, a:hover{
  color: #ff5e99;
  text-decoration: none;
  cursor: pointer;
}

.keys {
  color: #a9a9a9;
  margin-right: 10px;
}

.keys:hover {
  color: #ff5e99;
}

h1 {
  font-weight: 100;
}

.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 50px 20px;
}

.centered{
	text-align: center;
}

.card-container {
	margin-bottom: 30px;
}

.card {
  z-index: 5;
	padding-top: 25px;
  background: no-repeat center;
  background-size: cover;
/*  border-left: 1px solid #f5f5f5;
  border-top: 1px solid #f4f4f4;
  border-right: 1px solid #fafafb;
  border-bottom: 1px solid #e8e8e8;*/
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.05);
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 260px;
  cursor: pointer;
  transition: .3s all ease;
}

.card:hover {
  box-shadow: 0 4px 5px -2px rgba(0,0,0,.3),0 7px 10px 1px rgba(0,0,0,.24),0 2px 16px 1px rgba(0,0,0,.22);
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.9;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
}

.overlay {
  position: relative;
}

.overlay:hover:after  {
  opacity: 0;
}

.overlay:after {
  position: absolute;
  border-radius: 2px;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.card h3{
  /*color: #404d5f;*/
  font-weight: 100;
}

.card h4 {
  margin: 0;
  margin-top: 10px;
  font-weight: 100;
}

.card p {
  margin: 0;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  background: rgba(0, 0, 0, .7);
  color: #fff;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.card-text h3 {
  font-size: 1em;
  text-transform: capitalize !important;
}

.card-text h4 {
  font-size: 0.8em;
  color: #ff5e99;
}

.card-text p {
  font-size: 0.67em;
  color: #eee;
  margin: 0;
  padding: 0px 5px 5px 5px;
}

.modal-title {
  text-align: center;
  font-size: 30px;
}

.margin {
  margin: 20px;
}

#card-holder{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

#mainImage img {
  width: 60%;
  max-width: 400px;
  min-width: 125px;
}

#author {
  font-size: 20px;
}

#noResult {
  margin-top: 8px;
  margin-left: 1.5%;
}

#loadMore {
  display: none;
}

#loadMoreText {
  display: none;
}

.totop a {
  display: none;
}

.totop {
  text-align: right;
  margin-left: 1.5%;
  color: #a9a9a9;;
}

/***************************/
/* Default Form Input Code */
/***************************/

::-webkit-input-placeholder {
   color: #a9a9a9;/*#fff;*/
}

:-moz-placeholder { /* Firefox 18- */
   color: #a9a9a9;/*#fff;*/ 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #a9a9a9;/*#fff;*/  
}

:-ms-input-placeholder {  
   color: #a9a9a9;/*#fff;*/  
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input:focus {
  outline: none !important;
  border-bottom: 5px solid rgba(255, 94, 153, 0.65);
}

/* button */
.button-circle.button-giant {
  width: 50px;
}

.button-giant {
  font-size: 14px;
  font-weight: 100;
  height: 50px;
  line-height: 50px;
}

.button-royal, .button-royal-flat, .button-royal:focus, .button-royal-flat:focus {
  background-color: rgba(255,255,255,0.0);
  border: 1px solid rgb(210, 210, 200);
  color: rgba(255, 94, 153, 0.65);/*#ff5e99;*/
}

.button-royal:hover, .button-royal-flat:hover {
  background-color: rgba(255, 94, 153, 0.65);
  border-color: rgba(255, 94, 153, 0.65);
  color: white;
}

#searchBtn {
  position: absolute;
  top: 55%;
  left: 91%;
  border: none;
  font-size: 22px;
}

.gray {
  font-weight: 700;
  color: rgb(154, 157, 173);
  font-size: 12px;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  display: none;
  margin-top: 10px;
  margin-left: 1.5%;
}

.keys {
  margin-left: 1.5%;
}

.footer {
  position: fixed;
  margin: 0;
  bottom: 0;
  width: 100%;
  background-color: #e9e9e9;
  font-size: 0.8em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-muted {
  color: #818a91!important;
}

.no-space {
  padding-top: 0;
  margin: 0;
}

/* tisch css*/
.global-nav {
  width: 100%;
  height: 60px;
  background-color: #57068c;
  overflow: hidden;
  position: relative;
  z-index: 1000;
}

.global-nav-row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 830px;
}

.global-nav__logo {
  float: left;
  margin: 15px 0 0;
  width: 224px;
  height: 30px;
  background-image: url(/img/logo_nyu-tisch_white.svg);
}

.region-header {
  height: 84px;
  display: block;
  background: #ffffff;
  z-index: 1000;
  height: 60px;
  top: 0;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}

.region-header .wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.main-nav {
  margin: 0 0 0 -0.9375rem;
  height: 84px;
  list-style-type: none;
  margin: 0;
  height: 60px;
  display: flex;
  float: left;
  font-family: "Irma",sans-serif;
  font-style: Normal;
  font-stretch: normal;
  -webkit-font-feature-settings: "liga" on;
  -moz-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 570;
}

.main-nav li {
  margin: 0;
  float: left;
}

.main-nav li a {
  font-size: 12px !important;
  line-height: 1;
  height: 84px;
  font-size: 0.75rem;
  padding: 0 0.875rem;
  line-height: 1.5;
  display: table-cell;
  vertical-align: middle;
  height: 60px;
  padding: 0 1.5rem;
  color: #221d22;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  position: relative;
  background-color: transparent;
  text-align: center;
  line-height: 1.3;
}

.main-nav li a:hover {
  color: #ff5e99;
}

.responsive {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-left;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .responsive {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .responsive {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: space-around;
  }
}
